.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/test/e2e/reports/
selenium-debug.log
node_modules/ 
jspm_packages/

---------------------
jspm_packages/

---------------------

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
